* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-align: center;
}
.upomin h5{
    font-size: 26px;
    padding-top: 224px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color: #363434;
}
body {
    background: #e7e4d2;
}
.upomin .gotovik p {
    line-height: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #8b7272;
}